apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pe-wa-hpa
  namespace: pe-wa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pe-wa-deployment
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 15
